
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientBetRoulette</title>
</head>
<body>
    <div>
        <p>Datos recibidos</p>
        <br />
        @Html.Raw(ViewData["messageOperation"])
        <br />
        <p><a href="/">Retornar</a></p>
    </div>
</body>
</html>
